 <div class="block">
  <div class="columns is-mobile">
     

 <div (click)="isClassVisible = !isClassVisible"  class="barr column is-3">
           <span><i class="fas fa-bars"></i></span>
      </div>


    <div class="navbar column is-s6" >
      
  
      <div [class.bloock]="isClassVisible" class="navbar-menu"
      >
          
          <div (click)="drop1()" class="navbar-item has-dropdown">
            <a href="#"  class="navbar-item " id="test">HOMEPAGE <i class="fas fa-angle-down"></i></a>

            <div [style.display]="a" class="navbar-dropdown">
               <a class="navbar-item ">V1</a>
               <a class="navbar-item ">V2</a>
               <a class="navbar-item ">V3</a>
               <a class="navbar-item ">V4</a>
               <a class="navbar-item ">V5</a>
               <a class="navbar-item ">V6</a>
               <a class="navbar-item ">V7</a>
                
            </div></div>
          
              <div (click)="drop2()" class="navbar-item has-dropdown">
             <a href="#" class="navbar-item">POST PAGE <i class="fas fa-angle-down"></i></a>

            <div [style.display]="b" class="navbar-dropdown ">
            <a class="navbar-item">V1</a>
            <a class="navbar-item">V2</a>
            <a class="navbar-item">V3</a>
            <a class="navbar-item">V4</a>
            </div></div>
          
                  <div (click)="drop3()" class="navbar-item has-dropdown">
                 <a href="#" class="navbar-item">ABOUT <i class="fas fa-angle-down"></i></a>

            <div [style.display]="c" class="navbar-dropdown ">
              <a class="navbar-item">V1</a>
              <a class="navbar-item">V2</a>
              <a class="navbar-item">V3</a>
            </div></div>
          
           <div class="con"><a href="#" class="navbar-item">CONTACT</a></div>


    </div>
          
         
  </div>
  <div  class="logos column is-3" >
    
           <a class="navbar-item"><i class="fab fa-twitter"></i></a>
            <a class="navbar-item"><i class="fab fa-google-plus-g"></i></a>
             <a class="navbar-item"><i class="fab fa-linkedin-in"></i></a>
              <a class="navbar-item"><i class="fab fa-instagram"></i></a></div>
           
   </div>  
</div>

<div class="bottomNav">
  <div class="bottomNavContent"> 
   <h1 class="has-text-centered title is-2">WELCOME ON MY BLOG</h1>
   
    <div class="line"></div>
   <br>
   <h1 class="has-text-centered title is-4" >TRAVEL &#38; PHOTOGRAPHY</h1>
   <br>
      <div class="m">
        <div><a class="button is-text " href="#"><span>MY TRAVELS</span></a></div>
         <div><a class="button is-text " href="#"><span>ABOUT ME</span></a></div>
      </div>
 </div>
</div>
<br><br><br>
     

