<div class="wrapper">

  <div class="clear"></div>
  <div class="footer">
    <div class="columns">
      <div class="column is-1"></div>
    <div class="footerContainer1 column is-2">
        <h5 class="title is-6">ABOUT ME</h5>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor
          sit amet, consectetur adipisicing elit.</p>
    </div>
      <div class="column is-1"></div>
    <div class="footerContainer column is-2">
      <h5 class="title is-6">CATEGORY</h5>
      <p>Lifestyle</p>
      <p>Travel</p>
      <p>Work</p>
      <p>Fashion</p>
    </div>
    <div class="footerContainer column is-2">
      <h5 class="title is-6">USEFUL LINKS</h5>
      <p>Collaboriation</p>
      <p>Media about me</p>
      <p>Newsletter</p>
      <p>Help</p>
    </div>
    <div class="footerContainer column is-3">
      <h5 class="title is-6">CONTACT</h5>
      <p><span><i class="fas fa-home"></i></span>New York, NY 10012, US</p>
      <p><span><i class="fas fa-envelope"></i></span>info@example.com</p>
      <p><span><i class="fas fa-phone"></i></span>+ 01 234 567 88</p>
      <p><span><i class="fas fa-print"></i></span>+ 01 234 567 89</p>
    </div>
    </div>
    <br><br>
    <hr>
    <div class="columns">
    <div class="copyright column is-4">
      <p><span>&#169; 2017 Copyright:</span> MDBootstrap.com</p>
    </div>
      <div class="column is-4"></div>
    <div class="icons column is-4">
      <div>
        <button class="icon"><i class="fab fa-facebook-f"></i></button>
        <button class="icon"><i class="fab fa-twitter"></i></button>
        <button class="icon"><i class="fab fa-google-plus-g"></i></button>
        <button class="icon"><i class="fab fa-linkedin-in"></i></button>
      </div>
    </div>
  </div>
  </div>
</div>
