<div class="wrapper">
<div class="container">
  <img src="https://wallpaperbrowse.com/media/images/High-Definition-Ultra-HD-Wallpaper.jpg" alt="nkar">
  <br><br>
  <h5 class="title is-5">Lorem ipsum dolor sit amet</h5>
  <div class="line"></div>
  <br>
  <div class="columns">
    <div class="p1 column is-6">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed <br>
      quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br>
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, <br>
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et <br>
      dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <br>
      nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea <br>
      commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea <br>
      voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum <br>
      fugiat quo voluptas nulla pariatur?"
    </div>
    <div class="p2 column is-6">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br>
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore <br>
      veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      <br><br>
      <div class="line1"></div>
      <br>
      <h6 class="title is-6">Find me on social media</h6>
      <div class="icons">
        <div>
          <button class="icon f"><i class="fab fa-facebook-f"></i></button>
          <button class="icon t"><i class="fab fa-twitter"></i></button>
          <button class="icon g"><i class="fab fa-google-plus-g"></i></button>
          <button class="icon l"><i class="fab fa-linkedin-in"></i></button>
          <button class="icon ins"><i class="fab fa-instagram"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
  <br><br> <br>
</div>
