<div class="wrapper">
  <app-v2container></app-v2container>
  <div class="container">
  <div *ngFor="let image of images" class="containerTitle columns">
    <div class="imagediv column is-6"><img [src]='image' alt="nkar"></div>
    <div class="info column is-6">
      <p class="head"><span class="sp1">DESIGN</span> <span class="sp2">July 22, 2017</span></p>
    <h4 class="title is-4">This is title of the news</h4>
    <p class="t">
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id vero
      eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
    </p>
    <button class="btt">READ MORE</button>
    </div>
    <div class="height"><hr></div>
  </div>
    <hr>
    <ul class="pages">
      <li><button class="button is-text"><i class="fas fa-angle-double-left"></i></button></li>
      <li><button class="a button is-text">1</button></li>
      <li><button class="button is-text">2</button></li>
      <li><button class="button is-text">3</button></li>
      <li><button class="button is-text">4</button></li>
      <li><button class="button is-text">5</button></li>
      <li><button class="button is-text"><i class="fas fa-angle-double-right"></i></button></li>
    </ul>
  </div>

  <app-v2article></app-v2article>

</div>


