<div class="wrapper columns">
  <div class="column is-1"></div>
<div class="rightContainer column is-6">


  <div class="aboutme">
    <hr>
    <h2 class="q">ABOUT ME</h2>
    <hr>
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(33).jpg" alt="nkar">
    <p>Hello, I'm Martha. I've 23 years old and my biggest passion is photography. I love travel around the world and take photos of wild animals, landscapes and local people.</p><br>
    <div class="iconn">
      <button class="icons"><i class="fab fa-facebook-f"></i></button>
      <button class="icons"><i class="fab fa-twitter"></i></button>
      <button class="icons"><i class="fab fa-google-plus-g"></i></button>
    </div>
  </div>
  <div class="popularposts">
    <hr>
    <h2 class="q">POPULAR POSTS</h2>
    <hr>
    <div *ngFor="let popularimg of popularImg">
      <img [src]='popularimg' alt="nkar">
      <p class="tit1">This is news title</p>
      <p class="july">July 22, 2017</p><br>
    </div>
  </div>
  <div class="NEWSLETTER">
    <hr>
    <h2 class="q">NEWSLETTER</h2>
    <hr>
    <div class="field">
      <div class="control">
        <button class="button">@</button><input class="input" type="text" placeholder="username">
      </div>
    </div>
    <button class="sign">SIGN UP</button>


  </div>
  <div class="RECENT">
    <hr>
    <h2 class="q">RECENT POSTS</h2>
    <hr>
    <div class="respost">
      <div *ngFor="let resentimg of resentImg">
      <img [src] = 'resentimg' alt="nkar">
      <div class="resp">
        <span class="resP1">This is news title</span><br>
        <span class="resP2">July 22, 2017</span><br>
      </div>

      <div class="clear"></div>
      <hr>
      </div>
      <img src="http://all-photo.ru/wallpaper/photos/14511.jpg" alt="nkar">
      <div class="resp">
        <span class="resP1">This is news title</span><br>
        <span class="resP2">July 22, 2017</span><br>
      </div>

      <div class="clear"></div>
      <br><br>

    </div>
  </div>
  <div class="featured">
    <hr>
    <h2 class="q">FEATURED POSTS</h2>
    <hr>
    <div class="slider">

      <div (click) = "onclickLeft()" class="left"><span><i class="fas fa-chevron-left"></i></span></div>

      <img [src]='images[0]' alt="nkar">
      <div (click) = "onclickRight()" class="right"><span><i class="fas fa-chevron-right"></i></span></div>
      <div class="circles">
        <span (click) = "circle1()" ><i class="fas fa-circle"></i></span>
        <span (click) = "circle2()"  ><i class="fas fa-circle"></i></span>
        <span (click) = "circle3()" ><i class="fas fa-circle"></i></span>
      </div>

      <br><br>
    </div>
  </div>

  <div class="archieve">
    <hr>
    <h2 class="q">ARCHIEVE</h2>
    <hr>
    <p>August 2016</p>
    <p>July 2016</p>
    <p>June 2016</p>
    <p>May 2016</p>
    <p>April 2016</p>
    <p>March 2016</p>
    <p>February 2016</p>
    <br>
  </div>

  <div class="follow">
    <hr>
    <h2 class="q">FOLLOW ME</h2>
    <hr>
    <div *ngFor="let followimg of followImg"><img [src] = 'followimg' alt="nkar"></div>
    <div class="clear"></div>
  </div>




</div>
</div>




