.wrapper{
  margin-top:0px;
  width:100%;
}
img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clear {
  clear: both;
}

.rightContainer{
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 92px;
}


.q{
  font-size: 14px;
  text-align: center;
  font-weight: 550;
}
.aboutme{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aboutme img{
  height: 250px;
  width: 250px;
  display: block;
  margin:auto;
  margin-bottom: 10px;
}
.aboutme p{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.iconn{
  text-align: center;
}
.icons{
  height: 30px;
  width: 30px;
  font-size: 14px;
  border: 1px solid #BDBDBD;
  border-radius: 25px;
  background-color: transparent;
  color:#BDBDBD;

}
.icons:hover{
  background-color:#4285F4;
  color:white;
  transition: 0.5s;
}
.RECENT{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 20px;
}
.hed{
  padding-top:15px;
  width: 80%;
  margin: auto;
  background-color:#F5F5F5;
  height: 50px;
}
.hed h2{
  padding: auto;
}

.tit1{
  font-size: 14px;
  text-align: center;
}
.july{
  font-size: 13px;
  text-align: center;
  font-style:italic;
  color:#A09F9E;
}
.NEWSLETTER{
  padding-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.NEWSLETTER input{
  width: 80%;
}
.sign{
  width: 80%;

  background: #616161;
  background-image: -webkit-linear-gradient(top, #616161, #616161);
  background-image: -moz-linear-gradient(top, #616161, #616161);
  background-image: -ms-linear-gradient(top, #616161, #616161);
  background-image: -o-linear-gradient(top, #616161, #616161);
  background-image: linear-gradient(to bottom, #616161, #616161);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 5px #666666;
  -moz-box-shadow: 0px 2px 5px #666666;
  box-shadow: 0px 2px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 11px 20px 10px 20px;
  border: solid #616161 0px;
  text-decoration: none;
  display: block;
  margin:auto;

}
.sign:hover{
  opacity: 0.8;
  transition: 0.5s;
  box-shadow: 0px 5px 5px #666666;
}
.repost{
  width: 100%;
}
.respost img{
  display: block;
  margin-left: 10px;
  height: 60px;
  width: 75px;
  float:left;
}
.respost img:hover{
  opacity: 0.8;
  transition: 0.5s;

}
.resp{
  padding-top: 10px;
  padding-left: 15px;
  width: 130px;
  float: left;
}
.resP1{
  font-size: 14px;
  font-weight: bold;
}
.resP1:hover{
  color:#A09F9E;
  transition: 0.5s;

}
.resP2{

  font-size: 13px;
  text-align: center;
  font-style:italic;
  color:#A09F9E;

}
.clear{
  clear:both;
}
.archieve{
  padding-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.archieve p {
  text-align: center;
  padding-top:9px;
  padding-bottom:9px;
  font-size: 16px;
  color:#555555;
}

.height{
  height: 279px;
}

